*.iml
.idea/
*.ipr
*.iws
*.log
*.jasper
.settings/
out/
bin/
gwt-unitCache/
/gen/
target/
coverage/
/application.properties
src/templates/war/
/coverage.*
test/reports/
web-app/gwt
web-app/WEB-INF/classes
Thumbs.db
/stacktrace.log
*.ser
/dbdeploy/
web-app/css/main.css
web-app/images/grails_logo.jpg
web-app/images/skin/
web-app/images/spinner.gif
.DS_Store
extras/
id_file
demodb
demo-config/bak
.classpath
.project
.gwt
target-eclipse
private/
/data
tmp
gen
/classes
VERSION
.externalToolBuilders/
.ant-targets-build.xml