body {
    background-color: #eee;
    color: #000;
    /* font-size/line-height */
    font: 2em/2.1em helvetica, arial, sans-serif;
    text-align: center;
}

table {
    border: 1px solid gray;
    border-collapse: separate;
    table-layout: fixed;
    text-align: center;
}

td {
    padding: 0.25em;
}

p {
    margin: 0;
    padding: 0 0.6em; /* 0.1em 0.35em; then right-left 0.5em was close */
}

.gwt-Label, .gwt-TextBox {
    font-size: 1.25em;
}

.instructions {
    font: 1.15em/1.25em helvetica, arial, sans-serif;
}

/* Classes for gameboard display. */
.adj0 { color: darkgreen; }
.adj1 { color: darkcyan}
.adj2 { color: crimson; }
.adj3 { color: darkmagenta; }
.adj4 { color: blue; }
.adj5 { color: blueviolet; }
.adj6 { color: hotpink; }
.adj7 { color: indianred; }
.adj8 { color: indigo; }
.adjX { color: black; }     /* that is, unexploded */
.exploded { color: red; }
.untouched {
    /* background-color: #bbb; */
    border: 1px dashed gray;
}